.container {
  width: 100%;
  display: flex;
}

.formBox {
  padding-top: 120px;
}

.input div:not(input + div) {
  width: 480px;
}

.input {
  margin-bottom: 24px;
}

.buttonBox {
  display: flex;
  justify-content: end;
}

.button {

}