.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emptyBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  box-sizing: border-box;
  overflow-y: hidden;
}

.innerIngredients {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 450px;
  overflow: hidden;
  overflow-y: scroll;
}

.info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.totalContainer {
  display: flex;
  align-items: center;
}