.app {
  font-family: 'JetBrains Mono', Arial, sans-serif;
  width: calc(100% - 40px);
  height: 400px;
  text-align: center;
  margin: 0px auto;
  padding: 40px;
  box-sizing: border-box;
  /* background-color: red; */
  background-color: #131316;
}

.container {
  border: 1px solid red;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
}
