.container {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1280px;
  margin: 40px auto 0;
}
.title {
  margin: 0;
  padding: 0;
  text-align: left;
}

.feedWrapper {
  display: flex;
  gap: 60px;
}