@import url(./fonts/fonts.css);

body {
  font-family: 'JetBrains Mono', Arial, sans-serif;
  width: calc(100% - 40px);
  height: 400px;
  text-align: center;
  margin: 0px auto;
  padding: 40px;
  box-sizing: border-box;
  background-color: #131316;
}