.container {
  width: 600px;
  max-height: 912px;
  
}

.title {
  text-align: left;
}

.tabs {
  display: flex;
}

.sectionArea {
  max-height: 720px;
  overflow: hidden;
  overflow-y: scroll;
}

/* .section {

} */

.sectionTitle {
  text-align: left;
  margin: 0;
  padding: 0;
}
.cardArea {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  row-gap: 32px;

}