.header {
  font-family: 'JetBrains Mono', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #1C1C21;
  display: flex;
  align-items: center;

  color: #F2F2F3;
  /* border: 1px solid red; */
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

.content {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}

.navLinks {
  /* border: 1px solid pink; */
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.listItem {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
}

.linkContent {
  display: flex;
}

.linkText {
}

.link {
  display: flex;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  color: #F2F2F3;
  font-size: 16px;
  line-height: 24px;
  /* display: flex; */
}
.link_disabled {
  /* color: #8585AD; */
}

.logo {

}

.user-actions {

}
